header {
  color: lab(72.15% 7.2 7.8);
  background-color: #c5beac;
  padding: 40px 20px;
  margin-bottom: 0px;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;
}

h1 {
  color: #c1aaa2;
  font-size: 48px;
}

h2 {
  color: #84553c;
}

#home {
  text-align: center;
  padding: 100px 0;
  background: #f7e7d3;
}

#about {
  padding: 50px;
  background: #c5beac;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-container img {
  display: flex;
  justify-content: center;
  border: 2px solid #333;
  padding: 20px;
  max-width: 200px;
  width: 90%;
  background-color: #cbbb96;
  border-radius: 50%;
  margin: 20px auto;
}

.about-text {
  max-width: 600px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  color: #d2c19e;
}

#skills {
  padding: 60px 40px;
  color: rgb(220, 153, 71);
  text-align: center;
  background: #f7e7d3;
}

.skills h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill-card {
  background-color: #e6cd97;
  padding: 25px;
  border-radius: 8px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card:hover {
  transform: translateY(-6px);
  background-color: #dad6b3;
}

.skill-card img {
  width: 40px;
  margin-bottom: 10px;
}

.skill-card p {
  margin: 0;
  font-size: 14px;
}

#training {
  text-align: center;
  padding: 50px 20px;
  background: #c5beac;
}

#Training h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #b57d5f;
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}

.training-card {
  background-color: #b9b99a;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.training-card img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

.training-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.training-card p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

#certificate {
  text-align: center;
  padding: 50px 20px;
  background: #f7e7d3;
}

#Certificate h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #87604b;
}

.certificate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}

.certificate-card {
  background-color: #e6cd97;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.certificate-card img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

.certificate-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.certificate-card p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
